

services:
  web:
    image: nginx
    ports:
      - "3000:80"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./src:/var/www/html
    depends_on:
      - php
  php:
    build: ./php
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
  db:
    build:
      context: .
      dockerfile: "./db/Dockerfile"
    environment:
      - MYSQL_DATABASE=ph2drill
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - 3307:3306
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - ./db/:/etc/mysql/conf.d
      - ./src/week18-1:/var/www/html
